@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@using TenisRanking.Utils
@model ViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


@if (Model.ViewMessage.Status == MessageStatus.ERROR)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Něco se strašně nepovedlo.='(</strong> <a href="#" class="alert-link">@Model.ViewMessage.Message </a>
    </div>
}


@if (Model.ViewMessage.Status == MessageStatus.SUCCESS)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <a href="#" class="alert-link">@Model.ViewMessage.Message</a>.
    </div>
}


    <div class="container-fluid">

        <div class="row padding">
            <div class="col-lg-12">
                @{
                    var level = -1;
                    foreach (var player in Model.Players)
                    {
                        var playerLevel = Utils.GetLevel(player.Rank);
                        if (playerLevel != level && level != -1)
                        {
                            @Html.Raw("</div>")

                        }
                        if (playerLevel != level)
                        {
                            @Html.Raw("<div class=\"row justify-content-center\">")
                        }

                        @(Model.Player.Id == player.Id
                                              ? Html.Raw("<div class=\"card text-white bg-secondary opacity-card\" style=\"width: 15rem;\">")
                                              : Html.Raw("<div class=\"card opacity-card\" style=\"width: 15rem;\">"))

                        <div class="card-header">@player.Rank</div>
                        <div class="card-body">
                            <h5 class="card-title">@player.PlayerName</h5>
                            <h6 class="card-subtitle mb-2">Poslední zápas:  @player.LastPlayedMatch.ToString("dd.MM yyyy")</h6>
                            @{
                                var opponentState = Utils.GetOpponentState(Model.Player, player, Model.ChallengedMatches, Model.PlannedMatches);
                                if (SignInManager.IsSignedIn(User) && Model.Player.Id != player.Id && opponentState != OpponentState.None)
                                {
                                    switch (opponentState)
                                    {
                                        case OpponentState.CanChallenged:
                                            <form method="Post">
                                                <button class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Challenge" asp-route-deffenderId="@player.Id">Vyzvat</button>
                                            </form>
                                            break;
                                        case OpponentState.Challenged:
                                                <button class="btn btn-secondary btn-block" disabled>Vyzván</button>
                                            break;
                                        case OpponentState.Planned:
                                            <button class="btn btn-secondary btn-block" disabled>Čeká se na výsledek</button>
                                            break;
                                    }

                                }
                        }
                        </div>
                        @Html.Raw("</div>")
                        level = playerLevel;
                                        }
                                        @Html.Raw("</div>")
                }
            </div>
        </div>
    </div>
    <div class="container">
        @if (SignInManager.IsSignedIn(User))
                                    {
            <div class="row padding">
                <div class="col-sm opacity-table">
                    <h3>Výzvy</h3>
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var challengedMatch in Model.ChallengedMatches)
                                    {
                                        if (challengedMatch.Defender == Model.Player.Id)
                                        {
                                    <tr>
                                        <td class="bg-danger">
                                            <img src="images/icons/incoming.png" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == challengedMatch.Chellanger).PlayerName)
                                        </td>
                                        <td>
                                            <form method="Post">
                                                <button class="btn btn-secondary" asp-controller="Home" asp-action="AcceptChallange" asp-route-matchId="@challengedMatch.Id">Přijmout</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="Post">
                                                <button class="btn btn-light" asp-controller="Home" asp-action="RefuseChallenge" asp-route-matchId="@challengedMatch.Id">Odmítnout</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="bg-success">
                                            <img src="images/icons/outgoing.png" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == challengedMatch.Defender).PlayerName)
                                        </td>
                                        <td></td>
                                        <td>
                                            <form method="Post">
                                                <button class="btn btn-light" asp-controller="Home" asp-action="RefuseChallenge" asp-route-matchId="@challengedMatch.Id">Zrušit</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm opacity-table">
                    <h3>Naplánované</h3>
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var plannedMatch in Model.PlannedMatches)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == plannedMatch.Defender).PlayerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == plannedMatch.Chellanger).PlayerName)
                                    </td>
                                    <td>
                                        <form method="Post">
                                            <button class="btn btn-light" asp-controller="Home" asp-action="RefuseChallenge" asp-route-matchId="@plannedMatch.Id">Odmítnout</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button id="AddMatchResult" class="btn btn-secondary modal-link" data-toggle="modal" data-target="#add-result-modal" data-url=@($"Home/InitMatchResult?matchId={@plannedMatch.Id}")>Zadat výsledek</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm opacity-table">
                    <h2>Odmítnuté</h2>
                    <table class="table table-hover">
                        <tbody>
                        @foreach (var refusedMatch in Model.RefusedMatches)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == refusedMatch.Defender).PlayerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == refusedMatch.Chellanger).PlayerName)
                                </td>
                                <td>
                                    <form method="Post">
                                        <button class="btn btn-light" asp-controller="Home" asp-action="DeleteMatch" asp-route-matchId="@refusedMatch.Id">Smazat</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="Post">
                                        <button class="btn btn-light" asp-controller="Home" asp-action="ReChallenge" asp-route-matchId="@refusedMatch.Id">Opakovat výzvu</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm opacity-table">
                    <h2>Čekající na potvrzení</h2>
                    <table class="table table-hover">
                        <tbody>
                        @foreach (var waitingForConfirmation in Model.WaitingForConfirmationMatches)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == waitingForConfirmation.Defender).PlayerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == waitingForConfirmation.Chellanger).PlayerName)
                                </td>
                                <td>
                                    @Html.Raw(waitingForConfirmation.Result.ToString())
                                </td>
                                @if (waitingForConfirmation.Result.CreatedBy != Model.Player.Id)
                                {
                                    <td><form method="Post"><button class="btn btn-light" asp-controller="Home" asp-action="ConfirmResult" asp-route-matchId=@waitingForConfirmation.Id>Potvrdit výsledek</button></form></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>
                                    <button id="AddMatchResult" class="btn btn-secondary modal-link" data-toggle="modal" data-target="#add-result-modal" data-url=@($"Home/InitMatchResult?matchId={waitingForConfirmation.Id}")>Opravit výsledek</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row padding">
                <div class="col opacity-table">
                    <h2>Odehranné</h2>
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var playedMatch in Model.PlayedMatches)
                            {
                                if (playedMatch.Chellanger == Model.Player.Id && playedMatch.IsChallangerWinner() || playedMatch.Defender == Model.Player.Id && !playedMatch.IsChallangerWinner())
                                {
                                    @Html.Raw("<tr class=\"text-success\">")
                                }
                                else
                                {
                                    @Html.Raw("<tr class=\"text-danger\">")
                                }
                            <td>
                                @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == playedMatch.Defender).PlayerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == playedMatch.Chellanger).PlayerName)
                            </td>
                            <td>
                                @Html.Raw(playedMatch.Result.ToString())
                            </td>
                            @Html.Raw("</tr>")
                        }
                            </tbody>
                        </table>
                    </div>

                <div class="col opacity-table">
                    <h2>Všechny výzvy</h2>
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var playedMatch in Model.AllChellanges)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Players.FirstOrDefault(x => x.Id == playedMatch.Chellanger).PlayerName)
                                </td>
                                <td>
                                    :
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Players.FirstOrDefault(x => x.Id == playedMatch.Defender).PlayerName)
                                </td>
                                <td>
                                    @playedMatch.Status.MatchStatusToString()
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col opacity-table">
                            <h3>Všechny zápasy</h3>
                            <table class="table table-hover">
                                <tbody>
                                    @foreach (var match in Model.AllMatches)
                                    {
                                        <tr>
                                            @(!match.IsChallangerWinner() ? Html.Raw("<td class=\"text-success\">") : Html.Raw("<td class=\"text-danger\">"))

                                            @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == match.Defender).PlayerName)
                                            @Html.Raw("</div>")

                                            @(!match.IsChallangerWinner() ? Html.Raw("<td class=\"text-danger\">") : Html.Raw("<td class=\"text-success\">"))

                                            @Html.DisplayFor(modelItem => Model.Players.FirstOrDefault(x => x.Id == match.Chellanger).PlayerName)
                                            @Html.Raw("</div>")
                                            <td>
                                                @Html.Raw(match.Result.ToString())
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
            </div>
        }
    </div>
<div id="add-result-modal" class="modal" role="dialog">  
    <div class="modal-content">
    </div>
</div>

