@{
    ViewData["Title"] = "Home Page";
}

@using TenisRanking.Utils
@model ViewModel

<div class="col-md-6">
    <h2>Naplánované zápasy</h2>
    <table class="table">
        <thead>
        <tr>
            <th/>
            <th/>
            <th/>
        </tr>
        </thead>
        <tbody>
        @foreach (var plannedMatch in Model.PlannedMatches) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => plannedMatch.Defender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plannedMatch.Chellanger)
                </td>
                <td>
                    <button class="btn btn-primary" asp-controller="Home" asp-action="RefuseChallenge" asp-route-deffenderId="@plannedMatch.Id">Odmítnout</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h2>Odmítnuté zápasy</h2>
    <table class="table">
        <thead>
        <tr>
            <th />
            <th />
            <th />
        </tr>
        </thead>
        <tbody>
        @foreach (var refusedMatch in Model.RefusedMatches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => refusedMatch.Defender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => refusedMatch.Chellanger)
                </td>
                <td>
                    <button class="btn btn-primary" asp-controller="Home" asp-action="DeleteMatch" asp-route-deffenderId="@refusedMatch.Id">Smazat</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h2>Výzvy</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Od</th>
            <th />
            <th />
        </tr>
        </thead>
        <tbody>
        @foreach (var challengedMatch in Model.ChallengedMatches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => challengedMatch.Chellanger)
                </td>
                <td>
                    <button class="btn btn-primary" asp-controller="Home" asp-action="AcceptChallange" asp-route-deffenderId="@challengedMatch.Id">Přijmout</button>
                </td>
                <td>
                    <button class="btn btn-primary" asp-controller="Home" asp-action="RefuseChallenge" asp-route-deffenderId="@challengedMatch.Id">Odmítnout</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h2>Odehranné zápasy</h2>
    <table class="table">
        <thead>
            <tr>
                <th />
                <th />
                <th />
                <th />
                <th />
            </tr>
        </thead>
        <tbody>
        @foreach (var playedMatch in Model.PlayedMatches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => playedMatch.Defender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => playedMatch.Chellanger)
                </td>
                <td>
                    @Html.Raw(playedMatch.FirstSetDefender + ":" + playedMatch.FirstSetChellanger)
                </td>
                <td>
                    @Html.Raw(playedMatch.SecondSetDefender + ":" + playedMatch.SecondSetChellanger)
                </td>
                <td>
                    @Html.Raw(playedMatch.ThirdSetDefender + ":" + playedMatch.ThirdSetChellanger)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    @{
        var level = -1;
        foreach (var player in Model.Players)
        {
            var playerLevel = Utils.GetLevel(player.Rank);
            if (playerLevel != level && level != -1)
            {
                @Html.Raw("</div>")

            }
            if (playerLevel != level)
            {
                @Html.Raw("<div class=\"row\">")
            }
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@player.UserName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@playerLevel</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@player.Rank</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@player.LastPlayedMatch</h6>
                    <button class="btn btn-primary" asp-controller="Home" asp-action="Challenge" asp-route-deffenderId="@player.Id">Vyzvat</button>
                </div>
            </div>
            level = playerLevel;
        }
    }
</div>