@{
    ViewData["Title"] = "Home Page";
}

@using TenisRanking.Utils
@model IEnumerable<PlayerViewModel>


<div>
    @{
        var level = -1;
        foreach (var playerViewModel in Model)
        {
            var playerLevel = Utils.GetLevel(playerViewModel.Player.Rank);
            if (playerLevel != level && level != -1)
            {
                @Html.Raw("</div>")

            }
            if (playerLevel != level)
            {
                @Html.Raw("<div class=\"row\">")
            }
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@playerViewModel.Player.UserName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@playerLevel</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@playerViewModel.Player.Rank</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@playerViewModel.Player.LastPlayedMatch</h6>
                    <button class="btn btn-primary" asp-controller="Home" asp-action="Challange">Vyzvat</button>
                </div>
            </div>
            level = playerLevel;
        }
    }
</div>

    
    @*<div class="row">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Player name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Games won vs games lost</h6>
                <h6 class="card-subtitle mb-2 text-muted">DateTime of last game played</h6>
                <p class="card-text">List of games</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Player name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Games won vs games lost</h6>
                <h6 class="card-subtitle mb-2 text-muted">DateTime of last game played</h6>
                <p class="card-text">List of games</p>
            </div>
        </div>
    </div>
</div>*@
